


.post{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    margin: 10px 0;
    background-color: rgba(189,147,249,0.4);;
    border-radius: 10px;
    width: max-content;
    padding: 5px 10px;
    img{
        display: flex;
        width: 60px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .text{
        display: flex;
        h3{ 
            padding-top: 3px;
            display: flex;
        }
    }
}